<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sheershakx.poojaelectronics">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/poojaicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/poojaicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".userlist"></activity>
        <activity android:name=".login" />
        <activity
            android:name=".addItemGroup"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity android:name=".completedAll" />
        <activity android:name=".mechanicDelivered" />
        <activity android:name=".changepassword" />
        <activity android:name=".mechanic_deliver_action" />
        <activity android:name=".admin_forward_mechanic" />
        <activity android:name=".admin_report_detail" />
        <activity android:name=".admin_pending_details" />
        <activity android:name=".admin_adduser" />
        <activity android:name=".admin_report_list" />
        <activity android:name=".admin_pending_list" />
        <activity android:name=".admin_dashboard" />
        <activity android:name=".mechanic_list_details" />
        <activity android:name=".mechanic_pending_list" />
        <activity android:name=".mechanic_dashboard" />
        <activity android:name=".client_status_detail" />
        <activity android:name=".client_status" />
        <activity android:name=".client_post" />
        <activity android:name=".client_dashboard" />
        <activity android:name=".signup" />
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>